cloud_id                 = "b2go50poefqsqu09qeet"
folder_id                = "b2gt52r3eo9fj66iu48k"
zone                     = "ru-central1-a"
image_id                 = "fd8r8l446hhejhf9hr0g"
network_id               = "enp4edfk56bpnn87ncsa"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bvn807jqvjlkm46t3q"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/appuser"
service_account_id       = "ajelr47i9tja3fmdgaq6"
